@page "/"

@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger

<div class="col-md-6">
<EditForm Model="@feed" OnValidSubmit="@HandleValidSubmit">
    <ZardTextInput Label="Title" @bind-Value="feed.Title" ValidationFor="@(() => feed.Title)"></ZardTextInput>
</EditForm>


    @foreach (var item in feedItems)
    {   
        <div style="display: flex; justify-content: space-between">
            <EditForm Model="@item" OnValidSubmit="@HandleValidSubmit">
                @item.Id
                <ZardTextInput @bind-Value="item.Data" ValidationFor="@(() => item.Data)"></ZardTextInput>
            </EditForm>
            <button class="btn btn-danger" @onclick="e => Delete(item.Id)">Delete</button>
        </div>

    }

    <button class="btn btn-primary" @onclick="e => AddItem()">Add Item</button>
</div>


@code {
    private Feed feed = new Feed();
    private List<FeedItem> feedItems = new List<FeedItem>();

    private int Id = 0;
    private List<CustomLibrary.Inputs.Models.Choice> TitleChoices = new List<CustomLibrary.Inputs.Models.Choice>();

    protected override void OnInitialized()
    {
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 1", "Title 1"));
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 2", "Title 2"));
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 3", "Title 3"));

    } 

    private void AddItem() {
        var newItem = new FeedItem();
        newItem.Id = this.Id;
        Console.WriteLine(this.Id);
        this.Id = this.Id + 1;

        this.feedItems.Add(newItem);
    }

    private void Delete(int id) {
        var removeItem = this.feedItems.Single(item => item.Id == id);
        this.feedItems.Remove(removeItem)  ;
    }

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
