@page "/"

@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger

<div class="col-md-6">
<EditForm Model="@feed" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />


    <ZardTextInput Label="Title" @bind-Value="feed.Title" ValidationFor="@(() => feed.Title)"></ZardTextInput>
    
    <ZardDivContentEditable Label="Title" @bind-Value="feed.Title" ValidationFor="@(() => feed.Title)"></ZardDivContentEditable>

    <ZardSingleSelect Choices="@TitleChoices" Label="Title" @bind-Value="feed.Title" ValidationFor="@(() => feed.Title)"></ZardSingleSelect>

    <ZardTextEditor Label="Title" @bind-Value="feed.Title" ValidationFor="@(() => feed.Title)"></ZardTextEditor>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>
</div>


@code {
    private Feed feed = new();

    private List<CustomLibrary.Inputs.Models.Choice> TitleChoices = new List<CustomLibrary.Inputs.Models.Choice>();

    protected override void OnInitialized()
    {
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 1", "Title 1"));
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 2", "Title 2"));
        TitleChoices.Add(new CustomLibrary.Inputs.Models.Choice("Title 3", "Title 3"));

    } 

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
